@model Coursework.Models.Producer

@{
    ViewBag.Title = "Delete Producer";
    Layout = "_Layout";
}

<h2 class="text-center">Delete Producer</h2>

<div class="w-50 m-auto bg-secondary mb-5" style="padding: 20px 15px; border-radius: 5px">
         
         <div class="row">
                     <div class="col-md-6">
                         <h3 class="text-uppercase">Delete</h3>
                     </div>
                     <div class="col-md-6 text-end">
                         <a class="btn btn-info" asp-action="Index">Back To List &rarr;</a>
                     </div>
                 </div>
             
    <hr/>
    
    <form action="" method="post">
        <input type="hidden" asp-for="ProducerNumber">
        <label asp-for="ProducerName" class="form-label fs-5"></label>
        <input type="text" class="form-control mt-2" asp-for="ProducerName" readonly>
        <span asp-validation-for="ProducerName" class="text-danger"></span>
        <div class="text-center">
            <button type="submit" class="mt-4 btn btn-danger w-75 fs-5" style="border-radius: 10px;">Delete</button>
        </div>
        
    </form>
</div>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
