@model Coursework.Models.Producer

@{
    ViewBag.Title = "Edit Producer";
    Layout = "_Layout";
}

<h2>Edit Producer</h2>

<form action="" method="post">
    <input type="text" asp-for="ProducerNumber">
    <input type="text" asp-for="ProducerName">
    <button type="submit">Update</button>
</form>
