@model System.Collections.Generic.IEnumerable<Coursework.Models.Producer>

@{
    ViewBag.Title = "All Producers";
    Layout = "_Layout";
}


<div class="row mt-4">
    <div class="col-md-6"><h2>All Producer</h2></div>
    <div class="col-md-6 text-end"><a type="button" asp-controller="Producer" asp-action="Create" class="btn btn-outline-light btn btn-lig">Create Producer <i class="bi bi-plus-circle"></i></a></div>
</div>

<table class="table text-center table-bordered table-striped w-100 mb-5">
    <thead class="bg-secondary">
    <tr>
        <th>Producer Name</th>
        <th>Action</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProducerName</td>
            <td role="group" class="text-center">
                <a class="btn btn-info text-decoration-underline mx-3" asp-controller="Producer" asp-action="Edit" asp-route-id="@item.ProducerNumber">Edit &rarr;</a>
                <a class="btn btn-danger text-decoration-underline" asp-controller="Producer" asp-action="Delete" asp-route-id="@item.ProducerNumber">Delete &rarr;</a>
            </td>
        </tr>
    }
    </tbody>
</table>
