@model Coursework.Models.DVDCopy

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center">DVD Copy</h2>

<div class=" row w-50 m-auto bg-secondary mb-5" style="padding: 20px 15px; border-radius: 5px">
         
         <div class="row">
                 <div class="col-md-6">
                     <h3 class="text-uppercase">Edit</h3>
                 </div>
                 <div class="col-md-6 text-end">
                     <a class="btn btn-info" asp-action="Index">Back To List &rarr;</a>
                 </div>
             </div>
         
    <hr/>
    
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CopyNumber" />
            <div class="form-group">
                <label asp-for="DVDNumber" class="control-label"></label>
                <select asp-for="DVDNumber" class="form-control" asp-items="ViewBag.DVDNumber"></select>
                <span asp-validation-for="DVDNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePurchased" class="control-label"></label>
                <input asp-for="DatePurchased" class="form-control" />
                <span asp-validation-for="DatePurchased" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Update" class="mt-4 btn btn-success w-75 fs-5" style="border-radius: 10px;" />
            </div>
        </form>
    </div>
</div>

