@model LoanType

@{
    ViewBag.Title = "Delete Loan";
    Layout = "_Layout";
}

<h2>Delete Loan Type</h2>
<form action="" method="post">
    <input type="text" asp-for="LoanTypeNumber">
    <input type="text" asp-for="Loan_Type">
    <input type="text" asp-for="LoanDuration" id="">
    <button type="submit">Delete Loan Type</button>
</form>