@model LoanType

@{
    ViewBag.Title = "Edit Loan";
    Layout = "_Layout";
}

<h2>Edit Loan</h2>
<form action="" method="post">
    <input type="text" asp-for="LoanTypeNumber">
    <input type="text" asp-for="Loan_Type">
    <input type="text" asp-for="LoanDuration" id="">
    <button type="submit">Edit Loan Type</button>
</form>
