@model System.Collections.Generic.IEnumerable<Coursework.Models.LoanType>

@{
    ViewBag.Title = "Add Loan Types";
    Layout = "_Layout";
}

<h2>All Loan Types</h2>
<table>
    <thead>
    <tr>
        <th>Loan Type</th>
        <th>Loan Duration</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Loan_Type</td>
            <td>@item.LoanDuration</td>
            <td role="group" class="text-center">
                <a class="btn btn-warning mx-3" asp-controller="LoanType" asp-action="Edit" asp-route-id="@item.LoanTypeNumber"><i class="bi bi-pencil-square fs-3"></i></a>
                <a class="btn btn-danger" asp-controller="LoanType" asp-action="Delete" asp-route-id="@item.LoanTypeNumber"><i class="bi bi-trash fs-3"></i></a>
            </td>
        </tr>
    }
    </tbody>
    <tr>
        <td></td>
    </tr>
</table>