@model Coursework.Models.DVDCategory

@{
    ViewBag.Title = "Add DVD Category";
    Layout = "_Layout";
}

<h2>Add DVD Category</h2>

<form action="" method="post">
    <label asp-for="CategoryDescription"></label>
    <input type="text" asp-for="CategoryDescription" placeholder="Category Description">
    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
    <label asp-for="AgeRestricted"></label>
    <input type="text" asp-for="AgeRestricted" placeholder="Age Restriction">
    <span asp-validation-for="AgeRestricted" class="text-danger"></span>
    <button type="submit">Add Category</button>
</form>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
