@model Coursework.Models.DVDCategory?

@{
    ViewBag.Title = "Edit DVD Category";
    Layout = "_Layout";
}

<h2>Edit DVD Category</h2>

<form action="" method="post">
    <input type="text" asp-for="CategoryNumber">
    <input type="text" asp-for="CategoryDescription">
    <input type="text" asp-for="AgeRestricted">
    <button type="submit">Edit Category</button>
</form>