html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.MemberBox31Days {
  margin-top: 20px;
  height: auto;

  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  text-align: center;
}