@model Coursework.Models.Studio

@{
    ViewBag.Title = "Delete Studio";
    Layout = "_Layout";
}

<h2>Delete Studio</h2>

<form action="" method="post">
    <input type="text" asp-for="StudioNumber">
    <input type="text" asp-for="StudioName">
    <button type="submit">Delete</button>
</form>