@model Coursework.Models.Studio

@{
    ViewBag.Title = "Edit Studio";
    Layout = "_Layout";
}

<h2 class="text-center">Edit Studio</h2>

<div class="w-50 m-auto bg-secondary mb-5" style="padding: 20px 15px; border-radius: 5px">
         
         <div class="row">
                 <div class="col-md-6">
                     <h3 class="text-uppercase">Edit</h3>
                 </div>
                 <div class="col-md-6 text-end">
                     <a class="btn btn-info" asp-action="Index">Back To List &rarr;</a>
                 </div>
             </div>
         
    <hr/>
    
    <form action="" method="post">
        <input type="text" class="form-control mt-1" asp-for="StudioNumber">
        <input type="text" class="form-control mt-2" asp-for="StudioName">
        
        <div class="text-center">
            <button type="submit" class="mt-4 btn btn-success w-75 fs-5" style="border-radius: 10px;">Update</button>
        </div>
        
    </form>
</div>

