@model System.Collections.Generic.List<Coursework.Models.DTO.DVDCopiesLoanDTO>

@{
    ViewBag.Title = "DVD Copies on Loan";
    Layout = "_Layout";
}

<h2 class="text-center">Copies of DVDs on Loan</h2>
<hr class="mb-5" style="width: 60%; margin: auto"/>

<table class="table text-center table-bordered table-striped w-100 mb-5">
    <thead class="bg-secondary">
    <tr>
        <th>Member Name</th>
        <th>DVD Title</th>
        <th>Copy Number</th>
        <th>Date Out</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.name</td>
            <td>@item.title</td>
            <td>@item.copyNumber</td>
            <td>@item.dateOut</td>
        </tr>
    }
    </tbody>
</table>