<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Coursework</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Coursework.styles.css" asp-append-version="true"/>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.min.css" integrity="sha512-cyIcYOviYhF0bHIhzXWJQ/7xnaBuIIOecYoPZBgJHQKFPo+TOBA+BY1EnTpmM8yKDU4ZdI3UGccNGCEUdfbBqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Coursework</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                @if (User.IsInRole("Manager"))
                {
                    <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            CRUD
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Actor" asp-action="Index">Actor</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Studio" asp-action="Index">Studio</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Producer" asp-action="Index">Producer</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDCategory" asp-action="Index">DVD Category</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="LoanType" asp-action="Index">Loan Type</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="MembershipCategory" asp-action="Index">Membership Category</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Foreign Key CRUD
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="CastMembers" asp-action="Index">Cast Members</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDCopies" asp-action="Index">DVD Copies</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Member" asp-action="Index">Member</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Loan" asp-action="Index">Loan</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            DVD
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="DVDTitleSearchBYActorLastName">Search DVD</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="DvdOnSelves">Search DVD on Shelves</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="DVDDetails">Dvd Details</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="ReturnDVD">Return DVD</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="SearchDVDByMemberName">Search DVD By Member Name</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="DVDNotLoanFor31Days">DVD Not On Loan For 31 Days</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="DVDOlderThan365Days">Dvd older than 365 Days</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="MemberLoan" asp-action="MemberNotTakenLoanFor31Days">MemberLoan Not Taken For 31 Days</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="DVDCopy" asp-action="DVDCopiesOnLoan">DVD Copies On Loan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="MemberLoan" asp-action="MemberLoanDetails">Loan Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="DVDCopy" asp-action="Index">DVD Copy Loan Detail</a>
                    </li>
                </ul>
                }
                else if (User.IsInRole("Assistant"))
                {
                    <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            CRUD
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Actor" asp-action="Index">Actor</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Studio" asp-action="Index">Studio</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Producer" asp-action="Index">Producer</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDCategory" asp-action="Index">DVD Category</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="LoanType" asp-action="Index">Loan Type</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="MembershipCategory" asp-action="Index">Membership Category</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Foreign Key CRUD
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="CastMembers" asp-action="Index">Cast Members</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDCopies" asp-action="Index">DVD Copies</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Member" asp-action="Index">Member</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Loan" asp-action="Index">Loan</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            DVD
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="DVDTitleSearchBYActorLastName">Search DVD</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="DvdOnSelves">Search DVD on Shelves</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="DVDDetails">Dvd Details</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="ReturnDVD">Return DVD</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="SearchDVDByMemberName">Search DVD By Member Name</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="DVDNotLoanFor31Days">DVD Not On Loan For 31 Days</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="DVDOlderThan365Days">Dvd older than 365 Days</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="MemberLoan" asp-action="MemberNotTakenLoanFor31Days">MemberLoan Not Taken For 31 Days</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="DVDCopy" asp-action="DVDCopiesOnLoan">DVD Copies On Loan</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MemberLoan" asp-action="MemberLoanDetails">Loan Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DVDCopy" asp-action="Index">DVD Copy Loan Detail</a>
                        </li>
                </ul>
                }
                else if(User.IsInRole("User"))
                {
                    <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            DVD
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="DVDTitleSearchBYActorLastName">Search DVD</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitle" asp-action="DvdOnSelves">Search DVD on Shelves</a></li>
                        </ul>
                    </li>
                </ul>
                }
                else
                {
                    <li class="nav-link text-dark">Welcome</li>
                }
                
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <partial name="_Notification"/>
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Ropeys DVD - GroupCoursework
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>