@model System.Collections.Generic.List<Coursework.Models.DVDCopy>

@{
    ViewBag.Title = "DVD Older Than 365 Days";
    Layout = "_Layout";
}

<h2 class="text-center">DVD Older Than 365 Days</h2>
<hr class="mb-5" style="width: 65%; margin: auto"/>

<table class="table text-center table-bordered table-striped w-100 mb-5">
    <thead class="bg-secondary">
    <tr>
        <th>DVD Title</th>
        <th>Copy Number</th>
        <th>Date Purchased</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DvdTitle.TitleName</td>
            <td>@item.CopyNumber</td>
            <td>@item.DatePurchased</td>
        </tr>
    }
    </tbody>
</table>