@model List<CastMember>

@{
    ViewBag.Title = "Search DVD";
    Layout = "_Layout";
}

<h2 class="text-center">Search DVD</h2>
<hr class="mb-5" style="width: 30%; margin: auto"/>
@using (Html.BeginForm())
{
    <div class="mb-4 text-end">
        <input type="search" name="surname" style="width: 30%; border-radius: 5px; height: 40px; padding: 0 10px; outline: none;" placeholder="Search By Actor Last Name">
        <button class="btn btn-info" type="submit">Search &nbsp;<i class="bi bi-search"></i></button>
    </div>
}
<table class="table text-center table-bordered table-striped w-100 mb-5">
    <thead class="bg-secondary">
    <tr>
        <th>Actor First Name</th>
        <th>Actor Last Name</th>
        <th>DVD Title</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Actor.ActorFirstName</td>
            <td>@item.Actor.ActorSurname</td>
            <td>@item.DvdTitle.TitleName</td>
        </tr>
    }
    </tbody>
</table>
