@model Coursework.Models.MembershipCategory

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">MembershipCategory</h1>

<div class="w-50 m-auto bg-secondary mb-5" style="padding: 20px 15px; border-radius: 5px">
         
         <div class="row">
                     <div class="col-md-6">
                         <h3 class="text-uppercase">Delete</h3>
                     </div>
                     <div class="col-md-6 text-end">
                         <a class="btn btn-info" asp-action="Index">Back To List &rarr;</a>
                     </div>
                 </div>
             
    <hr/>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MembershipCategoryNumber"/>
        <div class="form-group">
            <label asp-for="MembershipCategoryDescription" class="control-label"></label>
            <input asp-for="MembershipCategoryDescription" class="form-control" placeholder="Membership Category Description" readonly/>
            <span asp-validation-for="MembershipCategoryDescription" class="text-danger"></span>
        </div>
        <br/>
        <div class="form-group">
            <label asp-for="MembershipCategoryTotalLoans" class="control-label"></label>
            <input asp-for="MembershipCategoryTotalLoans" class="form-control" placeholder="Membership Category Total Loans" readonly/>
            <span asp-validation-for="MembershipCategoryTotalLoans" class="text-danger"></span>
        </div>
        <div class="text-center">
            <input type="submit" value="Delete" class="mt-4 btn btn-danger w-75 fs-5" style="border-radius: 10px;"/>
        </div>
    </form>
</div>
